.page {
    width: 210mm;
    height: 310mm;
    margin: 0px auto;
    padding: 15mm 15mm;

    display: flex;
    flex-direction: column;

    .title {
        display: flex;
        height: 40px;
        padding: 20px;
        font-size: 20px;

        .title-item {
            flex-grow: 1;
            text-align: center;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        font-size: 20px;
        font: Monospace;

        .row {
            flex-grow: 1;

            display: flex;

            .item {
                flex-grow: 1;
                flex-basis: 0;
            }
        }
    }
}