<div class="page">
  <div class="title">
    <div class="title-item"></div>
    <div class="title-item">日期_______________</div>
    <div class="title-item">用时_______________</div>
    <div class="title-item"></div>
  </div>
  <div class="content">
    @for(item of rowArray; track $index; let i = $index){
    <div class="row">
      @for(item of colArray; track $index; let j = $index){
      <div class="item">
        <pre class="problem">{{getProblem(i, j)}}</pre>
      </div>
      }
    </div>
    }
  </div>
</div>